*{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    width: 100vw;
}

.menu{
    width: 30%;
    height: 100%;
    border: 1px solid red;
}

li{
    list-style: none;
}

#contentWindow{
    width: 70%;
    border: 1px solid blue;
}

.card{
    width: 100px;
    height: 110px;
}

.card:hover{
    cursor: pointer;
}

.card-body{
    padding: 3px;
}

h5.card-title{
    color: rgb(47, 47, 47);
    font-size:14px !important;
}

/*___ Navbar___*/

.form-control {
    font-size: 14px!important;
    display: block;
    width: 100%;
    height: 2.5vw !important;
    padding: 1vw 2vw !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-navbar{
    background-color: #0455BF !important;
}

.logo{
    height: auto;
    width:150px;
}


/*____ Footer___*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    background-color: #EAF0F8;
}
img.icon-xxss{
    height: auto;
    width: 25px;
    padding: 2px 5px;
}