*{
    padding: 0;
    margin: 0;
}

.main{
    height: 100vh;
    width: 100vw;
}

.menu{
    width: 30%;
    height: 100%;
    border: 1px solid red;
}

li{
    list-style: none;
}

#contentWindow{
    width: 70%;
    border: 1px solid blue;
}

.card{
    width: 100px;
    height: 110px;
}

.card:hover{
    cursor: pointer;
}

.card-body{
    padding: 3px;
}

h5.card-title{
    color: rgb(47, 47, 47);
    font-size:14px !important;
}